@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$bg: rgb(51, 51, 51);
$bg-2: rgba(255, 255, 255, .1);
$white: rgb(255, 255, 255);
$turquoise: rgb(23, 162, 184);
$table_options_tmplt: "head"
                    "option"
                    "table";

$table_only_tmplt: "head"
                    "table";

$table_chart_tmplt: "head head"
                    "table chart";

// BACKGROUND
$background-color: $bg;

// FONT
$main-font-color: $white;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background: $background-color;
    color: $main-font-color;
    font-family: 'Roboto', sans-serif;
}

.table-only {
    display: grid;
    grid-template: $table_only_tmplt;
    grid-template-rows: calc(3vh + 3vw) auto;
    grid-template-columns: auto;
}

.table-options {
    display: grid;
    grid-template: $table_options_tmplt;
    grid-template-rows: calc(3vh + 3vw) 50px auto;
    grid-template-columns: auto;
}

.table-chart {
    display: grid;
    grid-template: $table_chart_tmplt;
    grid-template-rows: 30% 70%;
    grid-template-columns: 60% 40%;
}


.head {
    grid-area: head;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.title {
    margin-right: 25px;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.title::after {
    content: '';
    position: absolute;
    height: 4px;
    margin-top: -10px;
    right: 0;
    width: calc(100% + 25px);
    background-color: $turquoise;
}

.nav-menu {
    margin-right: auto;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-menu>a,
i {
    margin-right: 5px;
    font-size: calc(2vw + 2vh);
    color: $turquoise;
}

.nav-menu>a>i:hover {
    color: $white;
}

.options {
    grid-area: option;
    width: 100%;
    height: 100%;
    background-color: $bg-2;
    display: flex;
    flex-direction: row;
}

.option-nav {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.option-nav>i, span {
    font-size: calc(1.5vh + 1.5vw);
    margin-left: 15px;
}

.table-content {
    grid-area: table;
    width: 100%;
    height: 100%;
}

.chart-content {
    grid-area: chart;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chart-container {
    min-height: 400px;
    width: 100%;
    margin-bottom: 10px;
}

.paggination {
    width: 100%;
    height: auto;
    text-align: center;
}

.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    padding: .275rem .55rem;
    color: $white;
    background-color: $turquoise;
}

.btn-paggination-active {
    color: $turquoise;
    background-color: $white;
}

.btn:hover {
    color: $turquoise;
    background-color: $white;
}

.row {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}