{% extends "index.html" %}
{% block content %}
    <div>
        <h1>{{ title }}</h1>
    </div>
    <div class="form">

    <form method = 'POST' action = "">
            {{ form.hidden_tag() }}
            <fieldset class = 'form-group'>

                <div class="row">
                    <div class='col-25'>
                        {{ form.dict_id.label(class="form-control-label") }}
                    </div>
                    <div class='col-75'>
                        <input class="form-control" id="disabledInput1" type="text" placeholder=" {{ data['dict_id'] }}" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class='col-25'>
                    {{ form.dict_val_id.label(class="form-control-label") }}
                </div>
                <div class='col-75'>
                    <input class="form-control" id="disabledInput2" type="text" placeholder=" {{ data['dict_val_id'] }}" disabled>
                </div>
                </div>

                <div class="row">
                    <div class='col-25'>
                    {{ form.dict_val_val.label(class="form-control-label") }}
                </div>
                <div class='col-75'>
                    {{ form.dict_val_val }}
                    </div>
                </div>

                <div class="row">
                    <div class='col-25'>
                    {{ form.dict_val_crt_dt.label(class="form-control-label") }}
                </div>
                <div class='col-75'>
                    <input class="form-control" id="disabledInput3" type="text" placeholder=" {{ data['dict_val_crt_dt'] }}" disabled>
                    </div>
                </div>

                {% if data['dict_tp'] == '2'%}
                <hr>
                <div class="row">
                    <div class='col-25'>
                    {{ form.rltd_dict_nm_1.label(class="form-control-label") }}
                </div>
                <div class="col-75">
                        {{ form.rltd_dict_nm_1 }}
                </div>
                </div>
                <div class="row">
                    <div class='col-25'>
                    {{ form.rltd_dict_val_1.label(class="form-control-label") }}
                </div>
                <div class="col-75">
                    {{ form.rltd_dict_val_1 }}
                </div>
                </div>
                <hr>
                <div class="row">
                    <div class='col-25'>
                    {{ form.rltd_dict_nm_2.label(class="form-control-label") }}
                </div>
                <div class="col-75">
                        {{ form.rltd_dict_nm_2 }}
                </div>
                </div>
                <div class="row">
                    <div class='col-25'>
                    {{ form.rltd_dict_val_2.label(class="form-control-label") }}
                </div>
                <div class="col-75">
                    {{ form.rltd_dict_val_2 }}
                </div>
                </div>
                <hr>
                <div class="row">
                    <div class='col-25'>
                    {{ form.rltd_dict_nm_3.label(class="form-control-label") }}
                </div>
                <div class="col-75">
                        {{ form.rltd_dict_nm_3 }}
                </div>
                </div>
                <div class="row">
                    <div class='col-25'>
                    {{ form.rltd_dict_val_3.label(class="form-control-label") }}
                </div>
                <div class="col-75">
                    {{ form.rltd_dict_val_3 }}
                </div>
                </div>

                {% endif %}

            </fieldset>
            <div class="row">
                {{ form.submit(id="myBtn") }}
            </div>
        </form>
        </div>

        <script>
            dict_1_select = document.getElementById('rltd_dict_nm_1');
            dict_value_1_select = document.getElementById('rltd_dict_val_1');

            dict_1_select.onchange = function(){
                dict_id = dict_1_select.value;
                fetch('get_dict_values/' + dict_id).then(function(response){
                    response.json().then(function(data) {
                    optionHTML = '';
                    for (dict_values of data.dict_values) {
                        optionHTML += '<option value="' + dict_values.dict_val_id +'">' + dict_values.dict_val_val + '</option>'
                    }

                    dict_value_1_select.innerHTML = optionHTML;
                });

            });
        }

        dict_2_select = document.getElementById('rltd_dict_nm_2');
        dict_value_2_select = document.getElementById('rltd_dict_val_2');

        dict_2_select.onchange = function(){
                dict_id = dict_2_select.value;
                fetch('get_dict_values/' + dict_id).then(function(response){
                    response.json().then(function(data) {
                    optionHTML = '';
                    for (dict_values of data.dict_values) {
                        optionHTML += '<option value="' + dict_values.dict_val_id +'">' + dict_values.dict_val_val + '</option>'
                    }

                    dict_value_2_select.innerHTML = optionHTML;
                });

            });
        }

        dict_3_select = document.getElementById('rltd_dict_nm_3');
        dict_value_3_select = document.getElementById('rltd_dict_val_3');

        dict_3_select.onchange = function(){
                dict_id = dict_3_select.value;
                fetch('get_dict_values/' + dict_id).then(function(response){
                    response.json().then(function(data) {
                    optionHTML = '';
                    for (dict_values of data.dict_values) {
                        optionHTML += '<option value="' + dict_values.dict_val_id +'">' + dict_values.dict_val_val + '</option>'
                    }

                    dict_value_3_select.innerHTML = optionHTML;
                });

            });
        }
        </script>
        {% endblock content %}
