{% extends "index.html" %}
{% block content %}
    <div>
        <h1>{{ title }}</h1>
    </div>
    <div>
    <table>
        <thead>
        <th>ID słownika</th>
        <th>Nazwa słownika</th>
        <th>Opis słownika</th>
        <th class="center">Typ słownika</th>
        <th class="center">Data utworzenia</th>
        <th class="option">Usuń</th>
        <th class="option">Edytuj</th>
    </thead>
    <tbody>
    {% for item in list %}
    <tr>
        <td>{{ item.dict_id }}</td>
        {% if item.dict_id == -3 %}
        <td> {{ item.dict_nm }}</td>
        {% else %}
        <td><a href="{{ url_for('dicts.dict_details', p_dict_id = item.dict_id) }}">{{ item.dict_nm }}</a></td>
        {% endif %}
        <td>{{ item.dict_desc }}</td>
        <td class="center">{{ item.dict_tp }}</td>
        <td class="center">{{ item.dict_crt_dt }}</td>
        <td class="option"><a href="{{ url_for('dicts.delete_dict', p_dict_id = item.dict_id) }}"><i class="fas fa-trash"></i></a></td>
        <td class="option">X</td>

    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    <div>
        <a href="{{ url_for('dicts.create_dict') }}">Dodaj słownik</a>
    </div>
    {% endblock content %}
