{% extends "index.html" %}
{% block content %}
<div class='table-chart'>
    <section class='head'>
        <div class='nav-menu'>
            <a onclick="history.back(-1)"><i class="far fa-arrow-alt-circle-left"></i></a>
            <a href='{{ url_for('main.home') }}'><i class="fas fa-home" alt="home"></i></a>
        </div>
        <div class='title'>
            <h1>{{ title }}</h1>
        </div>
    </section>

    <div class='table-content'>
        <table>
            <thead>
                <th>Data transakcji</th>
                <th>Odbiorca/Nadawca</th>
                <th>Typ Operacji</th>
                <th>Kwota</th>
                <th>Tytuł Transakcji</th>
                <th>Szczegóły Transakcji</th>
            </thead>
            <tbody>
                {% for item in v_list.items %}
                <tr>
                    <td>{{ item.TRANSACTION_DT }}</td>
                    <td>{{ item.PARTY_NM }}</td>
                    <td>{{ item.OPERATION_TP }}</td>
                    <td class="curr">{{ item.TRANSACTION_VAL }} {{ item.CURRENCY_NM }}</td>
                    {% if item.TRANSACTION_TITLE == '-3' %}
                    <td></td>
                    {% else %}
                    <td>{{ item.TRANSACTION_TITLE }}</td>
                    {% endif %}
                    {% if item.TRANSACTION_DTL_DESC == None %}
                    <td></td>
                    {% else %}
                    <td>{{ item.TRANSACTION_DTL_DESC }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class='paggination'>
            {% for page_num in v_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if v_list.page == page_num %}
            <a class="btn btn-paggination-active"
                href=" {{ url_for('balances.monthly_dtl_bal', p_year=p_year, p_month=p_month, page=page_num) }}">
                {{ page_num }}</a>
            {% else %}
            <a class="btn"
                href=" {{ url_for('balances.monthly_dtl_bal', p_year=p_year, p_month=p_month, page=page_num) }}">
                {{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class='chart-content'>
        <div class="chart-container">
            <canvas id="pie-chart"></canvas>
        </div>

        <div class="chart-container">
            TST TST TSTS
        </div>

        <script>
            new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                    labels: {{ labels|tojson }},
                datasets: [{
                    label: "Pie Chart",
                    backgroundColor: {{ colors | tojson}},
                data: {{ values | tojson}}
                    }]
                  },
                options: {
                responsive: true,
                maintainAspectRatio: true,
                legend: {
                    position: 'right'
                },
                title: {
                    display: true,
                    text: 'Wydatki per kategoria'
                }
            }
                });
        </script>
    </div>
    {% endblock content %}