{% extends "index.html" %}
{% block content %}
<div class='table-options'>

    <section class='head'>
        <div class='nav-menu'>
            <a onclick="history.back(-1)"><i class="far fa-arrow-alt-circle-left"></i></a>
            <a href='{{ url_for('main.home') }}'><i class="fas fa-home" alt="home"></i></a>
        </div>
        <div class='title'>
            <h1>{{ title }}</h1>
        </div>
    </section>

    <section class="options">
        <form method='POST' action="">
            <div class="row">
                <div class="col-75">
                    <select id="pocc_select" name="pocc_select">
                        <option value="monthly" {% if p_year and p_month and not p_notfilled  %} selected {% endif %}>
                            Miesięczny</option>
                        <option value="yearly" {% if p_year and not p_month and not p_notfilled %} selected {% endif %}>
                            Roczny</option>
                        <option value="all" {% if not p_year and not p_month and not p_notfilled %} selected
                            {% endif %}>Wszystko</option>
                        <option value="notfilled" {% if not p_year and not p_month and p_notfilled %} selected
                            {% endif %}>Nie wypelnione</option>
                    </select>
                </div>
                <div class='col-25'>
                    <input type="submit" value="Wybierz" class='confirm'>
                </div>
            </div>
        </form>
        {% if p_year and p_month and not p_notfilled  %}
        {% endif %}
    </section>

    <div class='table-content'>
        <table>
            <thead>
                <th>PTY_NM</th>
                <th>OPRTN_TP_NM</th>
                <th>OPRTN_CTG</th>
                <th>TRNSCTN_CTG</th>
                <th>TRNSCT_SCTG</th>
                <th class='option'>EDYTUJ</th>
            </thead>
            <tbody>
                {% for item in v_val_list.items %}
                {% if item.trnsctn_ctg == -2 or item.trnsctn_sctg == -2 %}
                <tr class="unfilled">
                    {% else %}
                <tr>
                    {% endif %}
                    <td>{{ item.pty_nm }}</td>
                    <td>{{ item.dict_val_val }}</td>
                    <td>{{ item.oprtn_ctg }}</td>
                    {% if item.trnsctn_ctg == -2 %}
                    <td>{{ item.trnsctn_ctg }}</td>
                    {% else %}
                    <td>{{ item.trnsctn_ctg_val }}</td>
                    {% endif %}
                    {% if item.trnsctn_sctg == -2 %}
                    <td>{{ item.trnsctn_sctg }}</td>
                    {% else %}
                    <td>{{ item.trnsctn_sctg_val }}</td>
                    {% endif %}
                    <td class='option'><a
                            href="{{ url_for('pocc.pty_oprtn_cd_clsfctn_edit', p_pty_id=item.pty_id, p_oprtn_cd=item.oprtn_cd) }}">X</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class='paggination'>
            {% for page_num in v_val_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if v_val_list.page == page_num %}
            <a class="btn btn-paggination-active"
                href=" {{ url_for('pocc.pty_oprtn_cd_clssfctn', p_year=p_year, p_month=p_month, p_notfilled=p_notfilled, page=page_num) }}">
                {{ page_num }}</a>
            {% else %}
            <a class="btn"
                href=" {{ url_for('pocc.pty_oprtn_cd_clssfctn', p_year=p_year, p_month=p_month, p_notfilled=p_notfilled, page=page_num) }}">
                {{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}